<p>folder-tasks-list works!</p>

<!-- <ng-container *ngIf="task.id!==7"> -->
<div *ngFor="let tasks of folder.tasks" class="form-check">
    <div class="col-sm-6">
        <div class="card mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{tasks.name}}</h5>
    
                
                <!-- <div class="w-45" style="float:right">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..." [checked]="task.isDone!" (click)="doneTask2(task.id!, this.task)">
                  </div>
    
                <button class="btn btn-danger mr-2" (click)="deleteTask(task.id!)">
                    Delete
                </button>
                <button class="btn btn-secondary" [routerLink]="['/task/update', task.id!]" class="btn btn-success">
                    Edit
                </button> -->
    
                
    
            </div>
        </div>
    </div>
    
    
</div>
<!-- </ng-container> -->